@import "../../../styles/index.scss";

.testimonialsWrapper {
  .testimonialsHeading {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: $largeRow_gap 0;
  }
}
