@import "../../../styles/index.scss";

.testimonialsWrapper {
  .testimonialsHeading {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: $largeRow_gap 0;
  }
  .quoteSection {
    .jennifQuote {
      display: flex;
      align-items: center;
      gap: $smallRow_gap;
    }
    .labels {
      padding: 24px;
      p {
        display: -webkit-box;
        overflow: hidden;
        -webkit-line-clamp: 4;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        margin-bottom: $largeRow_gap;
      }
    }
  }
  .card {
    background-color: $para_headers;
    border: 1px solid $card_border;
    border-radius: 10px;
  }
}
