// Contianer Style
@import "./container";
@import "./typography";

// Colors
$dark_green: #1a3129;
$light_green: #234338;
$green_70: #cbea7b;
$theme_white: #fafdf2;
$black: #262626;
$para_headers: #f6fbe9;
$para_border: #e5f5bd;
$card_border: #eef8d3;
$button_label: #4c4c4c;

$smallRow_gap: 10px;
$largeRow_gap: 50px;
